@charset "UTF-8";
body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
    border-collapse: collapse;
    font-variant: small-caps;
}
th, td{
    border: 1px solid #000;
    padding: 10px;
}
@media screen and (max-width: 340px){
    body{
        display: none;
    }
}